.app {
    width: 100%;
    min-height: 100vh;
    padding: 1rem;
    background: var(--background-color);
}

.container {
    margin: auto;
    padding: 2rem;
    border-radius: 20px;
    max-width: 900px;
    background-color: var(--foreground-color);
    box-shadow: var(--main-container-box-shadow);
}

.header {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: "Kanit", sans-serif;
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 600;
    color: var(--primary-text-color);
}

.logo span {
    display: inline-block;
    color: var(--accent-color);
    font-size: 3rem;
    height: 3rem;
}

@media (max-width: 575px) {
    .container {
        padding: 1rem;
    }

    .header {
        flex-direction: column;
    }
    
    .logo, .logo span {
        font-size: 2rem;
    }
}